body{
    background-color: #05112e;

}
h1{

margin-left: 25%;
margin-top: 1rem;
backdrop-filter: blur(10px);
}

#card1{
    margin-top: 1rem;
    margin-left: 3rem;
    border-radius: 1rem;
    width: 500px;
    height: 200px;
    background-color: #0f0e13;
    background-image: radial-gradient(at 0 0,#100f15 0,
    transparent 50%),
    radial-gradient(at 50% 0,#2f3e6a 0,
    transparent 50%),
    radial-gradient(at 100% 0,#722741 0,transparent 50%);
}

















#clickme1{
    margin-left: 80%;
    margin-top: 5.5rem;
}

#clickme{
    margin-right: 2rem;

}



.card {
position: absolute;
top: 50%;
left: 85%;
width: 300px;
height: 450px;
margin: -150px;
float: left;
perspective: 500px;
background-color:  #05112e;
}



.content {
position: absolute;
width: 100%;
height: 100%;
box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);

transition: transform 1s;
transform-style: preserve-3d;
}

.card:hover .content {
transform: rotateY( 180deg ) ;
transition: transform 0.5s;

}

.front,
.back {
position: absolute;
height: 100%;
width: 100%;

line-height: 300px;
color: #cce3de;
text-align: center;
font-size: 60px;
border-radius: 5px;
backface-visibility: hidden;
background-color: #0f0e13;
    background-image: radial-gradient(at 0 0,#17171a 0,
    transparent 50%),
    radial-gradient(at 50% 0,#ca1dbe 0,
    transparent 50%),
    radial-gradient(at 100% 0,#c51b56 0,transparent 50%);
}

.back {

background: #03446A;
color: #fcfdfd;
transform: rotateY( 180deg );
background-color: #0f0e13;
    background-image: radial-gradient(at 0 0,#100f15 0,
    transparent 50%),
    radial-gradient(at 50% 0,#2f3e6a 0,
    transparent 50%),
    radial-gradient(at 100% 0,#722741 0,transparent 50%);
}

#address{
border-radius: 1rem;
color: #cce3de;
position: absolute;
left: 90%;
top: 2rem;
background-color:  #0f0e13;
    background-image: radial-gradient(at 0 0,#100f15 0,
    transparent 50%),
    radial-gradient(at 50% 0,#2f3e6a 0,
    transparent 50%),
    radial-gradient(at 100% 0,#722741 0,transparent 50%);;
}

#tb{
left: 75%;
top: 2rem;
position: absolute;

}

#nav-whole{
    width: 10px;
    height: 10px;
}

#logo{
position: absolute;
width: 200px;
height: 200px;
left: 16%;
}

#logo-cart{
    width: 100px;
    width: 50px;
}

#backbtn{
padding: 0;
height: 50px;
width: 200px;
line-height: normal;
font-size: medium;
border-radius: 2rem  ;
top: 35%;
}

#backbtn {
        color:black;
        position: relative;
        padding: 10px 50px;
        border-radius: 30px;
  
        color: #292929;
        background-color: #fc0000;
        
        text-transform: uppercase;
        transition: 1s all ease-in-out;
        overflow: hidden;
    }

    #backbtn::before {
        position: absolute;
        content: '';
        width: 400px;
        height: 400px;
        background-color: #ececec;
        top: -370px;
        left: -120px;
        border-radius: 45%;
        transition: 1s all ease-in-out;
        animation: wave 10s infinite linear;
    }

    #backbtn::after {
        position: absolute;
        content: '';
        width: 400px;
        height: 400px;
        background-color: #ececec80;
        top: -360px;
        left: -125px;
        border-radius: 45%;
        transition: 1s all ease-in-out;
        animation: wave 9s infinite linear;
    }

    #backbtn span {
        position: relative;
        z-index: 1;
    }

    #backbtn:hover {
        color: #fff;
    }

    #backbtn:hover::before {
        top: -450px;
    }

    #backbtn:hover::after {
        top: -440px;
    }

    @keyframes wave {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
        
    }


#kfc{
width: 200px;
height: 100px;
color: black;
top: 2rem;
}

#kfcimg{
width: 300px;
height: 200px;

}

#kfcdesc{
position: absolute;font-size: large;
bottom: 2rem;
left:2rem;
top: 60%;
line-height: normal;
}

#pkfc{
line-height: normal;
font-style: oblique;
}

#bucket{
position: absolute;
width: 200px;
height: 300px;
}

#nav{

margin-right: 20%;
}


